* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    color: #20242a;
}


/* HEADER */

header {
    background: #17365f;
    color: white;
    padding: 55px 20px;
}

.header-content {
    max-width: 1050px;
    margin: auto;
}

.header-content p {
    font-size: 12px;
    letter-spacing: 4px;
    opacity: 0.8;
}

.header-content h1 {
    font-size: 43px;
    margin: 12px 0;
}

.header-content span {
    font-size: 18px;
}


/* NAV */

nav {
    background: #ffffff;
    padding: 18px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

nav a {
    color: #222;
    text-decoration: none;
    margin: 0 12px;
    padding: 9px 14px;
    border-radius: 5px;
}

nav a:hover {
    background: #17365f;
    color: white;
}


/* LAYOUT */

.isi {
    max-width: 1050px;
    margin: 35px auto;
    padding: 0 20px;

    display: flex;
    gap: 25px;
}

main {
    flex: 3;
}

aside {
    flex: 1;
}


/* ARTICLE */

.halaman {
    display: none;
}

.halaman.aktif {
    display: block;
}

article {
    background: white;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 20px;

    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.06);
}

article h2 {
    font-size: 32px;
    margin-top: 10px;
}

article p {
    font-size: 16px;
    line-height: 1.8;
}

.label {
    color: #315c9c;
    font-size: 12px !important;
    font-weight: bold;
    letter-spacing: 3px;
}


/* HOME */

.pembuka {
    max-width: 750px;
}

.home-info {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

.home-info div {
    flex: 1;
    background: #f1f4f8;
    padding: 18px;
    border-radius: 8px;
}

.home-info h3 {
    color: #315c9c;
    font-size: 25px;
    margin: 0 0 10px;
}

.home-info p {
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
}


/* DATA */

.data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 30px;
}

.data div {
    background: #f1f4f8;
    padding: 18px;
    border-radius: 7px;
}

.data small {
    display: block;
    color: #315c9c;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 8px;
}

.data strong {
    font-size: 14px;
}


/* PENGALAMAN */

.pengalaman {
    display: flex;
    gap: 20px;

    background: #f4f6f9;
    padding: 25px;
    margin-top: 20px;

    border-left: 4px solid #315c9c;
    border-radius: 7px;
}

.tahun {
    min-width: 85px;
    height: fit-content;

    background: #17365f;
    color: white;

    padding: 10px;
    text-align: center;

    border-radius: 5px;

    font-size: 11px;
    font-weight: bold;
}

.pengalaman h3 {
    margin-top: 0;
}

.tempat {
    color: #315c9c;
    font-weight: bold;
}


/* ASIDE */

aside {
    background: white;
    padding: 25px;
    text-align: center;

    border-radius: 10px;

    height: fit-content;

    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.06);
}

.profil-label {
    color: #315c9c;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 3px;
}

aside img {
    width: 155px;
    height: 185px;

    object-fit: cover;

    border-radius: 8px;

    margin: 15px 0;
}

aside h2 {
    font-size: 20px;
    margin: 8px 0;
}

.jurusan {
    color: #315c9c;
    font-weight: bold;
}

aside hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 22px 0;
}

.minat small {
    color: #888;
    font-size: 10px;
    letter-spacing: 2px;
}

.minat p {
    font-size: 14px;
    margin: 8px;
}


/* FOOTER */

footer {
    background: #17365f;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer p {
    margin: 5px;
    font-size: 13px;
}


/* RESPONSIVE */

@media (max-width: 700px) {

    .isi {
        display: block;
    }

    aside {
        margin-top: 25px;
    }

    .header-content h1 {
        font-size: 32px;
    }

    .home-info {
        display: block;
    }

    .home-info div {
        margin-bottom: 10px;
    }

    .data {
        grid-template-columns: 1fr;
    }

    .pengalaman {
        display: block;
    }

    .tahun {
        display: inline-block;
        margin-bottom: 15px;
    }

    nav a {
        display: inline-block;
        margin: 3px;
    }
}
